%bottom-border{
    content: " ";
        width: 12%;
        height: 1px;
        background-color: #4c4949;
        position: absolute;
        display: inline-block;
        top: 40px;
        left: 550px;
        margin-bottom: 6px;
}