// background-color

$bg-color:  #000;
$bg-card:#161616;
$bg-icon:#a41616;

// Font-color

$primary-color:#f8615a;
$primary-light:#fff;
$secondary-regular:#a41616;
$dark-card-color:#161616;
$dark-text:#4c4949;

// font-size

$font-size-base:12px;
$font-size-regular:18px;
$font-size-medium:20px;
$font-size-m-lg:26px;
$font-size-lg:36px;

// Font-weight

$font-weight-base:500;
$font-weight-regular:700;
$font-weight-bold:900;